fullnameOverride: gateway-api

image:
  repository: ""
  tag: "latest"

service:
  port: 8080

env:
  - name: DB_CONN_STRING
    value: "postgres://postgres:postgres@postgres/reservations"
  - name: SERVER_PORT
    value: "8080"
  - name: LIBRARY_SYSTEM_BASE_URL
    value: http://library-service:8050
  - name: RESERVATION_SYSTEM_BASE_URL
    value: http://reservation-service:8070
  - name: RATING_SYSTEM_BASE_URL
    value: http://rating-service:8060
  - name: RABBITMQ
    value: "amqp://guest:guest@rabbitmq"


ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
  hosts:
    - host: ""
      paths:
        - path: /
          pathType: Prefix

livenessProbe:
  httpGet:
    path: /manage/health
    port: 8080
  initialDelaySeconds: 30
  periodSeconds: 30
  timeoutSeconds: 5
  failureThreshold: 3

readinessProbe:
  httpGet:
    path: /manage/health
    port: 8080
  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 3
  failureThreshold: 4