services:
  postgres:
    image: library/postgres:17
    container_name: library-system
    restart: on-failure
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: postgres
    volumes:
#      - db-data:/var/lib/postgresql/data
      - ./postgres/:/docker-entrypoint-initdb.d/
      - ./postgres/scripts/:/docker-entrypoint-initdb.d/scripts/
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 2s
      retries: 10

  rabbitmq:
    image: rabbitmq:4.1-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
#    volumes:
#      - rabbitmq-data:/var/lib/rabbitmq
    restart: unless-stopped

  library-service:
    build:
      context: ./src/library-system
      dockerfile: Dockerfile
#    image: library:latest
    container_name: library-service
    ports:
      - "8050:8050"
    environment:
      DB_CONN_STRING: "postgres://postgres:postgres@postgres/libraries"
      SERVER_PORT: 8050
    restart: unless-stopped
    depends_on:
      postgres:
          condition: service_healthy

  rating-service:
    build:
      context: ./src/rating-system
      dockerfile: Dockerfile
#    image: rating:latest
    container_name: rating-service
    ports:
      - "8060:8060"
    environment:
      DB_CONN_STRING: "postgres://postgres:postgres@postgres/ratings"
      SERVER_PORT: 8060
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy

  reservation-service:
    build:
      context: ./src/reservation-system
      dockerfile: Dockerfile
#    image: reservation:latest
    container_name: reservation-service
    ports:
      - "8070:8070"
    environment:
      DB_CONN_STRING: "postgres://postgres:postgres@postgres/reservations"
      SERVER_PORT: 8070
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy

  gateway-api:
    build:
      context: ./src/gateway-api
      dockerfile: Dockerfile

#    image: gateway:latest
    container_name: gateway-api
    ports:
      - "8080:8080"
    environment:
      SERVER_PORT: 8080
      LIBRARY_SYSTEM_BASE_URL: http://library-service:8050
      RATING_SYSTEM_BASE_URL: http://rating-service:8060
      RESERVATION_SYSTEM_BASE_URL: http://reservation-service:8070
      RABBITMQ: "amqp://guest:guest@rabbitmq"
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy

#

volumes:
  db-data: