fullnameOverride: postgres

image:
  repository: postgres
  tag: "17"

service:
  type: ClusterIP
  port: 5432

env:
  - name: POSTGRES_DB
    value: "postgres"
  - name: POSTGRES_USER
    value: "postgres"
  - name: POSTGRES_PASSWORD
    value: "postgres"

persistence:
  enabled: true
  size: 10Gi

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

livenessProbe:
  exec:
    command:
      - sh
      - -c
      - exec pg_isready -U postgres
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3

readinessProbe:
  exec:
    command:
      - sh
      - -c
      - exec pg_isready -U postgres
  initialDelaySeconds: 5
  periodSeconds: 5
  timeoutSeconds: 3
  failureThreshold: 4

