apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "charts.services.fullname" . }}
  labels:
    {{- include "charts.services.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "charts.services.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "charts.services.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
        {{- if .Values.command }}
          command:
        {{- range .Values.command }}
            - {{ . | quote }}
        {{- end }}
        {{- end }}
        {{- if .Values.args }}
          args:
        {{- range .Values.args }}
            - {{ . | quote }}
        {{- end }}
        {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          env:
        {{- range .Values.env }}
            - name: {{ .name }}
              value: {{ .value | quote }}
        {{- end }}
          livenessProbe:
          {{- toYaml .Values.livenessProbe | nindent 10 }}
          readinessProbe:
          {{- toYaml .Values.readinessProbe | nindent 10 }}
          resources:
          {{- toYaml .Values.resources | nindent 10 }}